@import '../../../variables';

.knowMoreBackground {
    background-color: $secondary;

    @media screen and (max-width: $mobile) {
        height: 100vh;
    }

        .knowMoreContent {
            font-weight: bold;

            @media screen and (max-width: $mobile) {
                margin: 0px 20px;
                padding: 0px 12px;

                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }

            .title, .text, .imageContainer {
                display: flex;
                justify-content: center;
                text-align: center;
                color: white;
            }

            .title, .text {
                padding: 0px calc((100vw - 1100px) /2);
            }

            .title {
                margin-top: 32px;
                font-size: 40px;
                font-weight: 700;
                margin-bottom: 12px;

                @media screen and (max-width: $mobile) {
                    margin-top: 40px;
                    // font-size: 30px;
                }
            }

            .text {
                font-size: 18px;
                line-height: 24px;
                margin-bottom: 24px;

                @media screen and (max-width: $mobile) {
                    // font-size: 16px;
                }
            }

            .imageContainer {
                transform: translateX(-100vw);
                width: 200vw;
                height: 96px;
                margin-bottom: 32px;

                @media screen and (max-width: $mobile) {
                    margin-bottom: 40px;
                }
            }
        }
}

.imageGroup {
    // position:relative;
    width: 100vw;
    height: 96px;
    display: flex;
    justify-content: space-around;
    animation:move 40s linear infinite;
}

.blue {
    left:0;
}

.red {
    left: -100vw;
}
  
@keyframes move {
    0% {
        transform: translateX(0px);
    }
    100% {
        transform: translateX(100vw);
    }
}