$content-size: 1110px;

$primary: #24374c;
$primary-dark: #1e2734;
$primary-light: #6886b1;

$secondary: #0AC9B0;
$secondary-dark: #2B918A;

$background-section: #eeffee;

$text-color: #f0f8ff;
$text-color-black: black;
$text-color-gold: #b9a48f;

$gray: #CDCDCD;

$mobile: 400px;